form{
    border: 2px solid #000000;
    padding: 10px;
    margin: 20px;
}
.row{
    display:flex;
    justify-content: center;
}
.input{
    padding-right: 10px;
}
form{
    max-width: 600px;
    padding: 5px;
}
textarea {
    resize: none;
}
.col-style{
    display:flex;
    flex-direction: row;
    align-items: flex-end;
}
#tip-box{
    display:flex;
    justify-content: center;
}