body{
    font-family: 'Courier New', Courier, monospace;
    margin:0;
}
header{
    background-color: #000000;
    height: 200px;
}
header a{
    display:flex;
    justify-content: center;
    max-width:100%;
    max-height:100%;
}
header a img{
    max-width:100%;
    max-height:100%;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav{
    border-bottom: 1px solid black;
}
nav ul li{
    list-style: none;
}
nav ul li a:link, a:visited{
    text-decoration: none;
    color:#000000;
    
}